<% provide(:title, 'Send a installation') %>

<div class="row">
  <div class="span well" style="width:90%;">
    <div class="span12">
       <h2>Add a new installation</h2>
    </div>
        <%= form_for(@installation, :html => { multipart: true }) do |f| %>

          <%= render 'shared/error_messages' , object: f.object  %>

    <div class="span3">
          <%= f.label :name , "Full Name"%>
          <%= f.text_field :name %>

          <%= f.label :phone %>
          <%= f.text_field :phone %>


          <%= f.label :designation , "Designation (must be unique)"%>
          <%= f.text_field :designation %>
      </div>

      <div class="span3">


          <%= f.label :start_hour_of_concern , "Start-End hour (wellbeing check)"%>
          <%= f.text_field :start_hour_of_concern, class: "input-small", :placeholder => '1-23' %>
          <%= f.text_field :end_hour_of_concern, class: "input-small", :placeholder => '1-23' %>  


          <%= f.label :photo_refreshes_per_day , "Photo Refreshes per day"%>
          <%= f.text_field :photo_refreshes_per_day , :placeholder => 'e.g. 1440 means once per min.' %>

          <%= f.label :interrupt_duration , "Interrupt Duration (minutes)"%>
          <%= f.text_field :interrupt_duration %>
      </div>

      <div class="span3">
          <%= f.label :medication_reminder , "Hour of Medication Reminder (24hr time)"%>
          <%= f.text_field :medication_reminder, :placeholder => '1-23' %>

          <%= f.label :medication_reminder_two , "Hour of Medication Reminder (24hr time)"%>
          <%= f.text_field :medication_reminder_two, :placeholder => '1-23' %>

          <%= f.label :medication_reminder_three , "Hour of Medication Reminder (24hr time)"%>
          <%= f.text_field :medication_reminder_three, :placeholder => '1-23' %>

    	</div>

      <div class="span12">
    	      <%= f.submit "Save", class: "btn btn-large btn-primary", id: "create_installation" %>
            <%= link_to "Cancel",    installations_path, id: "installation_create_cancel" , class: 'btn btn-large'%>
        <% end %>
    	</div>
      
      </div>
  </div>
</div>
